/* Global Reset for Popup Window */
html, body, #app {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  width: 300px;
  overflow: hidden;
}
